@keyframes marquee {

0%{
transform:translateX(0);
}

100%{
transform:translateX(-50%);
}

}

.animate-marquee{

animation:marquee 22s linear infinite;

}

.logo-box {
    width: 72px;
    height: 72px;
    border-radius: 18px;
    overflow: hidden;
    background: #fff;
}

.logo-img {
    width: 100px;
    height: 100%;
    object-fit: contain;   /* fills the box */
}